body{
	background-color: #7CD1B8;
    text-align: center;
}
.banner {
    height: 400px;
    background-image: url('images/111.jpeg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner h1 {
    text-align: right;
    letter-spacing:5px;
    text-transform:capitalize;
}
.banner h2{
    text-align: right;
    text-transform: capitalize;
}
.nav{
    
    width: 100%;
    text-align: center;
}
.nav ul{
    list-style-type: none;

}
.nav li{
    display: inline-block;
}
.nav ul li a {
    
    text-decoration: none;
    text-transform: uppercase;
    background-color: darkblue;
    color:white;
    letter-spacing:2px;
    border:2px solid blue;
    border-radius:15px;

}
.nav ul li a:hover{
    background-color: aquamarine
}

.cart {
    width: 200px;
    height:250px;
    border:2px solid white;
    display: inline-block;
    margin: 5px;
}
.cart img{
    width:200px;
}
